html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

a {
    text-decoration:none;
}

.form {
    margin: 30px auto;
    width:45vw;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:15px;
}
.form h2 {
    text-align:center;
    padding:10px;
    border-bottom: 3px solid black;
}
.input {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:5px;
}
.input input,.input select {
    padding-top:5px;
    padding-bottom:5px;
    padding-left:7px;
    border-radius:5px;
    border:1px solid silver;
}

.form button {
    margin: 0 auto;
    width: auto;
    padding:5px;
    border: none;
    border-radius: 5px;
    text-align:center;
}

.navWrapper {
    display:flex;
    justify-content:space-around;
    align-items:center;
    gap:50px;
}
.navWrapper div {
    width:100%;
    display: flex;
    align-items: center;
    gap: 20px;
}