@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <section class="d-flex flex-column g-2 align-items-start p-3" style="background-color:#AFEEEE; border-radius:10px">
        <h2 class="border-black border-3 border-bottom">Eventures - The best ticket service in the world.</h2>
        <p><a asp-controller="Users" asp-action="Login">Login</a> to start "eventing".</p>
        <p><a asp-controller="Users" asp-action="Register">Register</a> if you don't have an account.</p>
    </section>
}
else
{
    @if (User.IsInRole("User"))
    {
        <section class="d-flex flex-column g-2 align-items-center p-3 text-center" style="background-color:#AFEEEE; border-radius:10px">
            <h2 class="border-grey border-3 border-bottom">Welcome, @Model?.FirstName!</h2>
            <h3 style="color:grey">Eventure wishes you an exiting expirience.</h3>
        </section>
    }
    else
    {
        <section class="d-flex flex-column g-2 align-items-center p-3 text-center" style="background-color:#AFEEEE; border-radius:10px">
            <h2 class="border-grey border-3 border-bottom">Greetings, Administrator-@Model?.FirstName!</h2>
            <h3 style="color:grey">Enjoy your work.</h3>
        </section>
    }
}